<footer class="page-foot">
  <section class="section-45 container">
    <div class="shell text-center text-sm-left">
      <div class="row">
        <div class="col-sm-3"><a href="{{ site.baseurl }}" class="brand offset-top-5"><span class="text-thin text-primary">[</span>
            <div class="brand-name"><span class="text-ubold">Fin</span><span class="text-thin">Expert</span></div><span class="text-thin text-primary">]</span></a>
          <p class="about-footer">
            Welcome to the leading company
            delivering services that combine
            quality, reliability and compliance!
          </p>
          <div class="elements-group-1 offset-top-22"><span class="small text-italic">Follow Us:</span>
            <ul class="list-inline">
              <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-facebook"></a></li>
              <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-twitter"></a></li>
              <li><a href="#" class="icon icon-xxs icon-circle icon-dark icon-white-filled fa-google-plus"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <h4>Navigation</h4>
          <hr class="hr-variant-1">
          <nav class="footer-nav-wrap row">
            <div class="footer-nav-column col-sm-6">
              <ul class="footer-nav">
                <li><a href="{{ base.siteurl }}/aboutus">About Us</a></li>
                <li><a href="{{ base.siteurl }}/prespectives">Prespectives</a></li>
                <li><a href="{{ base.siteurl }}/">Contacts</a></li>
                <li><a href="{{ base.siteurl }}/what-we-do">What We Do</a></li>
              </ul>
            </div>
            <div class="footer-nav-column col-sm-6">
              <ul class="footer-nav">
                <li class="active"><a href="{{ base.siteurl }}/research">Research</a></li>
                <li><a href="{{ base.siteurl }}/strategies">Strategies</a></li>
                <li><a href="{{ base.siteurl }}">Our team</a></li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col-sm-3">
          <h4>Contact info</h4>
          <hr class="hr-variant-1">
          <address class="contact-info reveal-inline-block">
            <ul class="contact-info-list">
              <li class="unit unit-horizontal unit-spacing-md">
                <div class="unit-left"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
                <div class="unit-body"><span class="text-bold"><a href="callto:#">(123) 45678910</a></span></div>
              </li>
              <li class="unit unit-horizontal unit-spacing-md">
                <div class="unit-left"><span class="glyphicon glyphicon-envelope"></span></div>
                <div class="unit-body"><span><a href="mailto:#">info@demolink.org</a></span></div>
              </li>

              <li class="unit unit-horizontal unit-spacing-md">
                <div class="unit-left"><span class="glyphicon glyphicon-dashboard"></span></div>
                <div class="unit-body"><span><a href="#"><span class="text-bold">267 Park Avenue</span><span>New York, NY 90210</span></a></span></div>
              </li>
            </ul>
          </address>
        </div>

      </div>
    </div>

  </section>
  <div class="shell text-center">
    <p class="rights">©&nbsp;<span id="copyright-year">2016</span>&nbsp;FinExpert.<a href="privacy.html">Privacy policy</a>
    </p>
  </div>
</footer>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/jquery-2.1.3.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/slick.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/static/js/jasny-bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
      $('.home-slider').slick({
        autoplay: true,
        prevArrow: '<span class="arrow-span arrow-span-1"><img src="{{ site.baseurl }}/static/icons/back.png" alt="" /></span>',
        nextArrow: '<span class="arrow-span arrow-span-2"><img src="{{ site.baseurl }}/static/icons/next.png" alt="" /></span>'
      });
      $('.dropdown').hover(function(){
        $('.dropdown-toggle', this).trigger('click');
      });


      // var dropdownSelectors = $('.dropdown, .dropup');
      //
      // // Custom function to read dropdown data
      // // =========================
      // function dropdownEffectData(target) {
      //   // @todo - page level global?
      //   var effectInDefault = null,
      //       effectOutDefault = null;
      //   var dropdown = $(target),
      //       dropdownMenu = $('.dropdown-menu', target);
      //   var parentUl = dropdown.parents('ul.nav');
      //
      //   // If parent is ul.nav allow global effect settings
      //   if (parentUl.size() > 0) {
      //     effectInDefault = parentUl.data('dropdown-in') || null;
      //     effectOutDefault = parentUl.data('dropdown-out') || null;
      //   }
      //
      //   return {
      //     target:       target,
      //     dropdown:     dropdown,
      //     dropdownMenu: dropdownMenu,
      //     effectIn:     dropdownMenu.data('dropdown-in') || effectInDefault,
      //     effectOut:    dropdownMenu.data('dropdown-out') || effectOutDefault,
      //   };
      // }
      //
      // // Custom function to start effect (in or out)
      // // =========================
      // function dropdownEffectStart(data, effectToStart) {
      //   if (effectToStart) {
      //     data.dropdown.addClass('dropdown-animating');
      //     data.dropdownMenu.addClass('animated');
      //     data.dropdownMenu.addClass(effectToStart);
      //   }
      // }
      //
      // // Custom function to read when animation is over
      // // =========================
      // function dropdownEffectEnd(data, callbackFunc) {
      //   var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
      //   data.dropdown.one(animationEnd, function() {
      //     data.dropdown.removeClass('dropdown-animating');
      //     data.dropdownMenu.removeClass('animated');
      //     data.dropdownMenu.removeClass(data.effectIn);
      //     data.dropdownMenu.removeClass(data.effectOut);
      //
      //     // Custom callback option, used to remove open class in out effect
      //     if(typeof callbackFunc == 'function'){
      //       callbackFunc();
      //     }
      //   });
      // }
      //
      // // Bootstrap API hooks
      // // =========================
      // dropdownSelectors.on({
      //   "show.bs.dropdown": function () {
      //     // On show, start in effect
      //     var dropdown = dropdownEffectData(this);
      //     dropdownEffectStart(dropdown, dropdown.effectIn);
      //   },
      //   "shown.bs.dropdown": function () {
      //     // On shown, remove in effect once complete
      //     var dropdown = dropdownEffectData(this);
      //     if (dropdown.effectIn && dropdown.effectOut) {
      //       dropdownEffectEnd(dropdown, function() {});
      //     }
      //   },
      //   "hide.bs.dropdown":  function(e) {
      //     // On hide, start out effect
      //     var dropdown = dropdownEffectData(this);
      //     if (dropdown.effectOut) {
      //       e.preventDefault();
      //       dropdownEffectStart(dropdown, dropdown.effectOut);
      //       dropdownEffectEnd(dropdown, function() {
      //         dropdown.dropdown.removeClass('open');
      //       });
      //     }
      //   },
      // });
    });
  </script>
