@include border-box-sizing;
$susy:(
  columns:  16,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
  container: 1170px,
  global-box-sizing: border-box,
  // debug: (image: show)
);
.wrap
{
  @include container();
}


li
{
  list-style: none;
}
a
{
  text-decoration: none;
  transition: all 0.5s ease;
}
