.page-foot
{
  background-color: #323946;
}

.section-45
{
  padding-top: 75px;
  padding-bottom: 75px;
}
.about-footer
{
  font-size: 16px;
  color: #fff;
}
.shell > .row > .col-sm-3
{
  h4
  {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: .5px .5px;
  }
}
.footer-nav,
.contact-info-list
{
  list-style: none;
}
.footer-nav
{
  li
  {
    margin-top: 12px;
    a
    {
      color: #888c94;
      font-size: 15px;

      &:hover
      {
        text-decoration: none;
        color: #229dd1;
      }
    }
  }
  li:first-child
  {
    margin-top: 0px;
  }
}
