.page-foot
{
  background-color: #323946;
}

.section-45
{
  padding-top: 75px;
  padding-bottom: 75px;
}
.about-footer
{
  font-size: 16px;
  color: #fff;
}
.shell > .row > .col-sm-3
{
  h4
  {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: .5px .5px;
  }
}
.footer-nav,
.contact-info-list
{
  list-style: none;

}
.footer-nav
{
  padding-left: 0px;
  li
  {
    text-align: left;
    margin-top: 12px;
    a
    {
      color: #888c94;
      font-size: 15px;

      &:hover
      {
        text-decoration: none;
        color: #229dd1;
      }
    }
  }
  li:first-child
  {
    margin-top: 0px;
  }
}
.glyphicon
{
  color: #229dd1;
}
.unit-left,
.unit-body
{
  display: inline-block;
  text-align: left;
  span
  {
    text-align: left;
    a
    {
      color: #fff
    }
  }
}
.contact-info-list
{
  padding-left: 0px;
  li
  {
    text-align: left;
  }
}
.unit-body
{
  padding-left: 10px;
}
.rights
{
  color: #fff;
}
@include media-query(768px){
  .unit-body
  {
    span
    {
      text-align: center;
    }
  }
  .footer-nav
  {
    li
    {
      text-align: center;
    }
  }
  .contact-info-list
  {
    text-align: center;
    .unit
    {
      text-align: center;
    }
  }

};
