.post-info
{
  figure
  {
    margin: 0px!important;
  }
}
.post-info-body
{
  color: #000;
  h3
  {
    font-size: 28px;
    font-weight: 900;
  }
  p
  {
    line-height: 1.73333;
    margin-top: 18px;
  }
}
.mission-body
{
  h3
  {
    font-size: 28px;
    font-weight: 900;
  }
}

.about-page-nav
{
  .page-nav-list
  {
    list-style: none;
    li
    {
      padding: 12px 6px 13px;
      border-bottom: 1px solid #e8e8e8;

      a
      {
        color: #bab8b8;
        &:hover
        {
          text-decoration: none;
          color: #24a3d8;
        }
      }
    }
  }
}
.aboutus-header
{
  h2
  {
    color: black;
  }
  .row > .col-sm-9
  {
    background-color: #fff;
  }
}
// .common-aboutus
// {
//   background-image: url('../static/images/trading_system.png');
//   height: 500px;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-position: 60%;
//   background-size: cover;
//   // border-bottom: 7px solid $brand-color;
//   width: 100%;
// }

.home-slide-tour-1
{
  background-image: url('../static/images/technical_analytics.jpg');
}
.home-slide-tour-2
{
  background-image: url('../static/images/tour_2.jpg');
}
.home-slide-tour-3
{
  background-image: url('../static/images/tour_1.jpg');
}
.home-slide-tour-4
{
  background-image: url('../static/images/tour_3.jpg');
}
.home-slide-tour-5
{
  background-image: url('../static/images/tour_5.jpg');
  background-position: 60% -80%;
}
